h1 {    
    font-family:"Times New Roman", Times, serif;
    color:#195190;
    font-size:32px;
}

input[type=text] {
    padding: 10px 24px;
    border: none;
    background-color: #8FBC8F;
}

input[type=password] {
    padding: 10px 24px;
    border: none;
    background-color: #8FBC8F;
}

label {
    width: 240px;
    display: inline-block;
}

textarea {
    padding: 6px;
    font-size: 14px;
}

input[type=button], input[type=submit] {
    background-color: #8FBC8F;
    border: none;
    color: black;
    padding: 10px 24px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
